.vagrant/
*.log
*.tmp
*.swp
*.swo
*.bak
*.DS_Store
Thumbs.db
node_modules/
dist/
.env
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.coverage
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
*.lock
*.out
*.class
target/
build/
coverage/
*.iml
package-lock.json
shared/*